.container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

.moves {
  border-right:1px solid lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 15.5%;
  padding: 15px;
  background-color: #f5fcff;
  max-height: 70vh;
  min-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.actions {
  background-color: #f5fcff;
  width: 15.5%;
  min-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.play {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 70%;
  margin-right:10px ;
  overflow-x: scroll;
}

.moves__heading {
  font-size: 22px;
  padding: 5px;
  font-family: monospace;
  font-weight: 600;
  background-color: rgba(77,151,255,.25);
  color: #575e75;
  border-radius: 10px;
}

.moves__single {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
  color:white;
  transition: 0.2s;
}

.moves__single:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}

.moves__single--text {
  flex: 1;
  padding: 2px;
  border: none;
  font-size: 13px;
  font-weight: 500;
}

.moves__single--text:focus {
  outline: none;
}

.gameProps {
  flex-direction: row;
  display: flex;
  column-gap: 20px;
  margin-top: 2em;
  width:95%;
  height: 90%;
  align-items: center;
  justify-content: center;
  column-gap: 2%;
  padding-bottom: 2%;
}

.msgPopup {
  border: 1px solid lightgrey;
  border-radius:10px;
  background-color: lightgreen;
  justify-content:center; 
  color:black ;
  font-family:monospace;
  font-size:large;
}

.playRefresh{
  display:flex; 
  flex-direction:row;
  margin-left:3%;
  margin-right:3%; 
}

.icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:lightgrey;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
}

.icon:hover .tooltiptext {
  cursor: pointer;
  visibility: visible;
}

@media (max-width: 1100px) {
  .moves {
    width: 45%;
  }
  .gameProps {
    row-gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 1em;
  }
}

@media (max-width: 700px) { 
  .container {
    width: 98%;
    flex-direction: column;
  }
  .moves {
    width: 98%;
    margin-bottom: 10px;
  }
  .gameProps {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.backgroundButton{
    height:50px;
    width:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
  }